.myTimesTable {
  width: 100%;
  overflow-x: auto;

  > table {
    border: 1px solid #DDD;
    min-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    td {
      border: 1px solid #DDDDDD;
      padding: 5px 2px;
    }

    td.yt {

      .T {
        border: 1px solid;
        height: 100%;

        .H {
          padding: 3px;
          border-bottom: 1px solid;
          text-align: center;
          text-transform: uppercase;
        }
        .B {
          padding: 3px;
          text-align: center;
        }
      }
    }

    .days {
      td {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border: 1px solid #DDD;
        text-transform: uppercase;
      }

      td.col {
        min-width: 130px;
      }
    }
  }
}